html {
  padding: 0;
  margin: 0;
}
h1 {
  color: red;
}
#logo {
  width: 200px;
}

a {
  text-decoration: none;
}
#top-menu-ul {
  display: flex;
}
#top-menu-ul li {
  padding: 10px;
  list-style: none;
}

#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: red;
}

#footer div {
  padding: 10px;
}
#footer a {
  color: #000;
}
